# Dependencias instaladas con NPM
node_modules/

# Archivos de configuración de desarrollo
.env
.env.local
.env.development
.env.test
.env.production

# Archivos generados por el entorno de desarrollo
.DS_Store
.vscode
.cache
dist
build
out
.next

# Dependencias opcionales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
